/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
h1 {
  padding: 20px;
  font-size: 80px;
  color: black;
  text-align: center;
  background-color: rgb(108, 139, 175);
}
h2 {
  padding: 10px;
  color: rgb(54, 52, 52);
  text-align: left;
  text-decoration: underline;
}
p{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.left_padding{
  padding-left: 60px;
  padding-right: 20px;

}

.line_graph{
  display: block;
  width: 100%;
  height: 90%;
  padding: 5px;
}
.scatter_graph{
  display: block;
  width: 90%;
  height: 90%;
  padding: 20px;
  margin-left: 15px;
}
/* Navbar ---------------------------------------------------- Need on every page*/
.navbar {
  padding: 0px 0px;
  display: block;
  list-style-type: none;
  background-color: lightgrey;
  color: black;
  text-align: center;
  cursor: pointer;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0px 0px;
}

.navbar a{
  color: #000;
  text-decoration: none;
  text-align: left;
  float: right;
  padding: 14px 16px;
}

.navbar a:hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color:grey;
  text-align: left;
  color: black;
}

/* Dropdown on Navbar ---------------------------------------------- */
.dropbtn {
  background-color: lightgrey;
  color:black;
  padding: 14px 16px;
  border: none;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 150px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}

.dropdown-content a:hover {background-color: grey; min-width: 150px;}
.dropdown:hover .dropdown-content {display: block; text-align: left;}
.dropdown:hover .dropbtn {background-color: grey;}


/* Presidential Photos on the Home Page ---------------------------- */

.portrait{
  align-content: center;
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 5;
  border-color: lightslategray;
}
.imageHolder1 .caption {
  opacity: 0;
  position: absolute;
  height: 75%;
  width: 75%;
  bottom: 19px;
  left: 20px;
  color: black;
  background: lightgrey;
  text-align: center;
  font-weight: bold;
}
.imageHolder1:hover .caption {
  opacity: 0.7;
}

.imageHolder2 .caption {
  opacity: 0;
  position: absolute;
  height: 75%;
  width: 75%;
  bottom: 19px;
  left: 20px;
  color: black;
  background: lightgrey;
  text-align: center;
  font-weight: bold;
}
.imageHolder2:hover .caption {
  opacity: 0.7;
}

/* Github and LinkedIn icons ------------------------ */
.icon {
  align-content: center;
  width: 50px;
  height: 50px;
  padding: 10px;
}
